<!DOCTYPE html>
<html>
<head>
    <title>Jarvis LLM Assistant</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="static/style/style.css" />
</head>
<body>
<div class="wrapper start-recording">
    <div class="record-wrapper">
        <div class="record-button">
            <span class="material-symbols-outlined icon">mic</span>
        </div>
    </div>

    <div style="height: 20px"></div>
    <div class="text">Start recording</div>
</div>

<div class="wrapper recording hidden">
    <div class="record-wrapper">
        <div class="stop-record-button">
            <span class="material-symbols-outlined icon">mic_off</span>
        </div>
    </div>
    <div style="height: 20px"></div>
    <div class="text">Stop recording</div>
</div>
<script src="static/script/script.js"></script>
</body>
</html>